/*============= GERAL ==============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: 'Nunito Sans', sans-serif;
    transition: .3s;
}

:root {
    font-size: 62.5%;

    --vermelho-fiap: #ED145B;
    --cinza-fiap: #202427;
    --texto-fiap: #91A3AD;
    --amarelo-forte: #F4FF52;
    --verde-forte: #53FF45;
    --gradiente-fiap: linear-gradient(135deg, #1a1d21, #24292c);
    --verde-apagado: #55ff4523;
    --vermelho-apagado: #ED145B23;
}

body {
    min-height: 100vh;

    background: var(--gradiente-fiap) no-repeat center;
}

.pop-up-container {
    display: none;

    width: 100vw;
    height: 100vh;

    position: absolute;

    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.404);
}

.pop-up {
    background-color: #ED145B;

    width: 30rem;
    max-width: 80vw;
    padding: 1rem 1rem;

    border-radius: .5rem;

    margin: 50vh auto;
    transform: translateY(-50%);

    box-shadow: 0 0 20px #ED145B;
}

.pop-up * {
    display: block;

    margin: 0 auto;
}

.pop-up span {
    margin-bottom: 2rem;

    font-size: 2rem;
    text-align: center;
}

.pop-up input {
    font-size: 2rem;

    padding: .4rem;
    margin-block: .5rem 2rem;

    border: none;
    border-radius: .5rem;
    width: 100%;
}


.pop-up button {
    font-size: 1.6rem;
    font-weight: 600;

    padding: .4rem 1rem;

    border: none;
    border-radius: .5rem;

    background-color: var(--verde-forte);
}

.pop-up label {
    font-size: 1.6rem;
    font-weight: 500;
    width: 90%;
}


#bt-delete-list:hover,
#bt-save-list:hover,
.input-container button:hover,
input[type="checkbox"]:hover,
.delete-item:hover,
.pop-up button:hover {
    cursor: pointer;
}


.input-container button[disabled],
.pop-up-container.list-name button[disabled] {
    background-color: var(--verde-apagado);
    box-shadow: none;
}






/*============= NAV ==============*/
nav {
    display: flex;
    justify-content: space-between;

    padding: 2rem;
    margin-bottom: 6rem;

    border-bottom: 1px solid #535353;
}

#logoText {
    font-size: 3.5rem;
    font-weight: 800;
}

#logoText:hover {
    text-shadow: 0 0 15px #ED145B;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}

nav a {
    font-size: 1.8rem;
    /* font-weight: 600; */
    color: #ED145B;
}

nav a:hover {
    text-shadow: 0 0 10px #ED145B;

}




/*============= HEADER ==============*/
header {
    margin-bottom: 4rem;

    text-align: center;
    color: #ED145B;
}

h1 {
    font-size: 5.5rem;
    text-shadow: 0px 0px 8px #ED145B;
    font-weight: 900;
    padding-inline: 2rem;
    margin-bottom: 2rem;
}

header p {
    font-size: 2.4rem;
    font-weight: 600;
    text-shadow: 0px 0px 4px #ED145B;
    padding-inline: 2rem;
}






/*============= MAIN - INPUT CONTAINER ==============*/

.input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    margin-bottom: 2rem;
}


.input-container input {
    font-size: 2rem;

    width: 40rem;
    padding: .4rem;

    outline: none;

    border: none;

    background-color: transparent;
    color: var(--texto-fiap);
    box-shadow: 0 0 5px #ED145B;
    transition: 0s;
}

.input-container input:focus {
    background-color: #ed145c17;
}


.input-container button {
    border-radius: .5rem;
    border: none;

    padding: .6rem .8rem;


    font-size: 1.8rem;
    font-weight: 600;
    color: black;

    width: fit-content;



    background-color: var(--verde-forte);
    box-shadow: 0 0 15px var(--verde-forte);
}








/*============= MAIN - LIST CONTAINER ==============*/

.div-list {
    width: 800px;
    margin-inline: auto;

    border-radius: .5rem;

    background-color: #151819;

    padding-inline: 1rem;
    padding-bottom: .4rem;
}


.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 1rem;
}


.div-header .texts {
    flex-grow: 1;

}


.div-header .texts h5 {
    text-align: start;
    font-size: 2.6rem;
    color: var(--texto-fiap);
    text-transform: uppercase;
}


.div-header .texts span {
    font-size: 2rem;
    color: var(--texto-fiap);
}


.div-header .texts span::before {
    content: 'Total gasto: R$ ';
    color: var(--texto-fiap);
    margin-top: 1.5rem;
}


.div-buttons {
    width: max-content;

    display: flex;
    gap: 4rem;
    justify-content: space-between;
}


.div-buttons button {
    font-size: 1.6rem;
    font-weight: 600;

    padding: .8rem 1rem;

    border-radius: .5rem;
    border: none;
}


#bt-delete-list[disabled='true'] {
    background-color: var(--vermelho-apagado);
}

#bt-delete-list {
    background-color: var(--vermelho-fiap);
    color: #000;
}
#bt-delete-list:hover {
    box-shadow: 0 0 10px var(--vermelho-fiap);
}


#bt-save-list[disabled='true'] {
    background-color: var(--verde-apagado);
}

#bt-save-list {
    background-color: var(--verde-forte);
    color: #000;
}

#bt-save-list:hover {
    box-shadow: 0 0 10px var(--verde-forte);
}


.div-list li:nth-of-type(1) {
    color: var(--texto-fiap);
    border-bottom: 1px solid #535353;
}

.div-list li {
    margin-bottom: 1rem;
    padding: .4rem .6rem;

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--texto-fiap);
}

.span-item {
    font-size: 2rem;
    width: 40%;
    word-break: break-all;
}

.span-valor,
.span-quantidade {
    width: 10%;
    font-size: 2rem;
    word-break: keep-all;
}


input[type="checkbox"] {
    display: block;

    width: 2.4rem;
    height: 2.4rem;
}

.delete-item,
.edit-item {

    font-size: 1.5rem;
    font-weight: 600;

    height: 2.4rem;
    padding-inline: .6rem;
    padding-block: .3rem;

    border-radius: .5rem;
    border: none;
}

.edit-item[disabled=''] {
    background-color: var(--verde-apagado);
}

.edit-item[disabled='']:hover {
    cursor: initial;
    box-shadow: none
}

.edit-item {
    background-color: var(--verde-forte);
}

.edit-item:hover {
    box-shadow: 0 0 15px var(--verde-forte);
    cursor: pointer;
}

.delete-item {
    background-color: var(--vermelho-fiap);
}

.delete-item:hover {
    box-shadow: 0 0 15px var(--vermelho-fiap);
}





/*==================================RESPONSIVE*/
@media (max-width: 1000px) {

    /*nav*/
    nav {
        padding: 1rem;
        margin-bottom: 3rem;
    }

    #logoText {
        font-size: 2rem;
        /* font-weight: 800; */
    }


    nav ul {
        gap: 2rem;
    }

    nav a {
        font-size: 1.6rem;
    }



    /*header*/
    header {
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
    }

    header p {
        font-size: 2rem;
    }



    /*input container*/
    .input-container {
        gap: 2rem;
    }


    .input-container input {
        font-size: 1.6rem;

        width: 80vw;
        max-width: 40rem;
    }

    .input-container button {
        padding: .3rem .5rem;

        font-size: 1.6rem;
    }



    /*list*/
    .div-list {
        width: 85%;
        min-width: 340px;
    }


    .div-header {
        padding-block: 1rem;
    }


    .div-header .texts {
        flex-grow: 1;
    }


    .div-header .texts h5 {
        font-size: 1.8rem;
        word-break: break-all;
    }


    .div-header .texts span {
        font-size: 1.8rem;
    }


    .div-header .texts span::before {
        margin-top: 1.5rem;
    }


    .div-buttons {
        width: max-content;
        gap: 1rem;
    }


    .div-buttons button {
        font-size: 1.4rem;
        padding: .4rem .6rem;
    }

    .div-list li {
        margin-bottom: 1rem;
        padding: .4rem .6rem;
    }

    .span-item {
        font-size: 1.6rem;
        width: 35%;
    }

    .span-valor,
    .span-quantidade {
        width: 10%;
        font-size: 1.6rem;
    }


    input[type="checkbox"] {
        display: block;

        width: 1.8rem;
        height: 1.8rem;
    }

    .delete-item,
    .edit-item {

        font-size: 1.4rem;
        font-weight: 600;

        height: 2.4rem;
        padding-inline: .6rem;
        padding-block: .3rem;
    }

}


@media (max-width: 550px) {


    .div-list {
        max-width: none;
       
        max-height: 70vh;
        overflow-y: scroll;
        margin-bottom: 2rem;
    }

    .div-header{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .div-header .texts{
        width: 100%;
    }

    .div-header .texts h5 {
        font-size: 1.6rem;
        
    }

    .div-header .texts span {
        font-size: 1.4rem;
    }

    .div-header .texts span::before {
        content: 'Total: R$ ';
    }

    .div-buttons button {
        font-size: 1.4rem;
        padding: .4rem .5rem;
    }
    
    .span-item {
        font-size: 1.4rem;
        width: 20%;

    }

    .span-valor,
    .span-quantidade {
        font-size: 1.4rem;
        width: 15%;
        text-align: center;
        word-break: break-all;
    }

    li.hide span{
        word-break: keep-all;
    }

    .delete-item,
    .edit-item {

        font-size: 1.4rem;
        font-weight: 600;

        height: 2.4rem;
        padding-inline: .3rem;
        padding-block: .1rem;
    }



}